<!doctype html>

<!--
the main layout for the website 

-->

<html>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="./index.css">
        

  </head>

  <body>
    {{{body}}}
          
  </body>
  

</html>