<!DOCTYPE html>
<html lang="en-US">


<head>
    <meta charset="UTF-8">
    <!--this is some css-->
    <style>
        h1 {
            text-align: center;
            background: #0000FF;
            color: black;
            padding: 25px;
        }

        h2 {
            background: #004CFF;
            padding: 15px;
        }

        h3 {
            background: #0064FF;
            padding: 5px;
        }

        .centerimg {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <title>About Adrian</title>

</head>


<body style=" font-family: Arial, Helvetica, sans-serif; margin: auto; padding: 15px;">

    <h1>Adrian Perez</h1>

    <img class="centerimg" alt="Adrian's headshot image" src="/img/image-adrian.jpg" width="200" height="200"
        title="Headshot">

    <div style="text-align: center;">
        <a href="mailto:adrianjperez@lewisu.edu">Email: adrianjperez@lewisu.edu</a>
    </div>

    <h2>Introduction</h2>
    <p>Hello person, welcome to my website as you saw uptop my name is Adrian,
        I am currently a senior and plan to graduate around May 2022. I do school full time and I am currently
        taking 16 credits hours this semester. I work during the weekends at Dunkin Donuts, so it would seem to me that
        I am busy doing homework, learning something new or just working.

        My family lives in Joilet, which is about a 15 to 20 min drive from Lewis depending of traffic. I am the oldest
        sibling in my family,
        including me there are four of us, make that two boys and two girls. I am majoring in Computer Science with a
        forcus of software
        engineering, along with that I am also minoring in Mathematics. </p>

    <h3>What I Hope to Learn in this Course </h3>
    <ul style="list-style-type: square;">
        <li>Learn back end</li>
        <li>How to work in a dev team</li>
        <li>Use and learn about the tools that companies use</li>
    </ul>

    <h3>My Favorite Hobby</h3>
    <p>When I have the time for some of my hobbies, my favorite one is watching tv or some videos like going on YouTube,
        there is something about this that I find relaxing. This hobby is the one the simpler ones compared to some of
        my
        other hobbies, all I have to do is just lay on the couch and turn on the tv, but this hobby can get old pretty
        fast if
        there is not anything interesting to watch. So, some other hobbies of mine are playing some video games with my
        mates,
        going through social media (mainly looking at memes), practicing trumpet, and messing around with computers.
        Those are some of my current hobbies that I like to do when I find my self with free time.
    </p>


    <h3>Greatest Innovation</h3>
    <ul style="list-style-type: square;">
        <li>The Internet - Its like everyone uses and relies on the internet <a
                href="https://www.britannica.com/technology/Internet" target="_blank">Link</a></li>

        <li>Linux - There seem to many uses for this OS and it's still relevant <a
                href="https://www.britannica.com/technology/Linux" target="_blank">Link</a> </li>

        <li>Intel - The company that lead the way for CPUs <a
                href="https://www.siliconvalleyhistorical.org/intel-history" target="_blank">Link</a></li>


    </ul>

    <h3>Fun Fact!</h3>
    <p>A fun fact about me is that if I were to choose a superpower it would be super speed </p>


    <footer style="background-color: #006DFF; text-align: center; padding: 10px;">
        <i>This webpage was made by Adrian Perez</i>
        <br>
        <i>2021 for Software Engineering</i>

    </footer>

</body>


</html>