<!DOCTYPE html>
<html lang ="en">
<title>Diya Patel</title>

<style>
h1 {text-align: center;}
img{display:block;
    margin-left:auto;
    margin-right:auto;}

</style>

<body>

<h1>DIYA PATEL</h1>


<a href = "mailto:diyapatel@lewisu.edu"> Send Email</a>

<h2>Myself :)</h2>


 <img src = "IMG_1331.png"
height = "350" width = "260" alt = "Diya Patel" class= "center" > 

<h2 style ="background-color:Tomato;">Introduction</h2>
<p>My name is Diya Patel, said as D-ya. I know its very cool name :)! I am a Computer Science
    major at Lewis University.Before I moved to Chicago I lived in Connecticut and New Jersey. My work experience is 
    mostly in retail and food services so far. I have done an IT internship which something totally new for me. 
    It's manufacturing company of all supplements(eg. proteins powders, creatine). And currently, I am a part of the Amazon
    Fresh Team. The internship was about Troubleshooting printers, computers, and server issues.
    Managing users and computer accounts in Active Directory and much more.....I am looking forward 
    to improve on my technical knoweledge and skills. 
    
    I have one sibling who graduated from Lewis University in December 2020. He plays a major role 
    in my decision of chossing computer science. I live with my parents and my brother. 
</p>



<h2 style = "background-color:aqua;">What I hope to Learn in this Course:</h2>
 
<h4>In Object Oriented Programming course, I have learned  alot about java Programming and have
    built/completed intersting and challenging projects. Since this class is more than coding in java I am really exited to explore 
    Software development. Below are few points that I would like to learn in this course: 
</h4>

    <u1 style = "list-style-type:square;">
        <li>Software Development Life Cycle</li>
        <li>Agile Methodology</li>
        <li>Project Management, Architecture, Requirements, Testing, Supprot, and Maintenance</li>
    </u1>

    <section><h2 style ="background-color: aquamarine;">My Favorite Hobby</h2>
    <p>Weight lifting or weight training is my most favorite hobby. I started weight training in 2019. I joined gym to do cardio but once I got my hands on dumbells I fell in 
        love with the feeling! I used to train six times a week. My journey since I started weight lifting has been magical! I have learned so much about myself. I have become mentally strong and positive. 
        Being a full-time student and part-time job its hard to manage time and workout at the Gym. I try to make time and train at least three times a week. This is my one of my hobby that can change my mood, thoughts and make me 
        mentally strong. 
    </p>
    <h2 style = "background-color: blueviolet;"> Greatest Innovation in Computing History</h2>

   <p><span style = 'font-size:20px; '>&#9632; Search Engines: <a href = "https://mashable.com/2009/12/14/web-tech-innovations/">LINK</a></span></p>
    <p><span style = 'font-size:20px; '>&#9632; Web Browser: <a href = "https://starry.com/blog/inside-the-internet/what-was-the-first-web-browser#:~:text=Baby%20steps.,Mosaic%20web%20browser%20in%201993/">LINK</a></span></p>
    <span style = 'font-size:20px;'>&#9632; First Programming Language: <a href = "https://devskiller.com/history-of-programming-languages/#:~:text=1983%3A%20Objective%2DC,and%20iOS%2C%20Apple's%20operating%20systems.">
        LINK</a></span>

    <h2 style = "background-color: antiquewhite;">Fun Facts</h2>

    <ul><li>I went to six flags six times over the summer. </li>
    <li>Brother given nickename: Peanut Butter</li>
    </ul>
    </section>



</body>

