<!DOCTYPE html>
<html lang="en-US">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EzscrumEzgo - Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>


<body>

    <header>
        <h1>Welcome to team EzscrumEzgo!</h1>
    </header>

    <div id="team-image">
        <!--https://www.w3schools.com/html/html_images_imagemap.asp-->
        <img src="/img/team-image.jpg" width="750" height="300" alt="team-images" usemap="#workmap">

        <map name="workmap">
            <area shape="rect" coords="x0,y0,x1,y0" alt="Steve" href="/steve">
            <area shape="rect" coords="x0,y0,x1,y0" alt="Diya" href="/diya">
            <area shape="rect" coords="x0,y0,x1,y0" alt="Paula" href="/paula">
            <area shape="rect" coords="600,0,750,300" alt="Adrian Perez" title="HI" target="_blank" href="/adrian">
            <area shape="rect" coords="x0,y0,x1,y1" alt="Mariela" href="/mariela">
            
        </map>
    </div>

    <div>
        <h2>List Of Team Members:</h2>
        <ul>
            <li> <a href="/diya" target="_blank">Diya</a></li>
            <li> <a href="/paula" target="_blank">Paula</a></li>
            <li> <a href="/steve" target="_blank">Steve</a></li>
            <li> <a href="/adrian" target="_blank">Adrian</a></li>
            <li> <a href="/mariela" target="_blank">Mariela</a></li>
        </ul>
    </div>

    <div>
        <h2>Team’s Assignment Portfolio:</h2>
        <p>a list of projects that team has completed</p>
        <ul>
            <!--add more as time goes on-->
            <li><a href="#Thiswebsite">This Website</a></li>

        </ul>
    </div>

    <div id="githubHistory">
        <img src="histoy" alt="histoy-image">

    </div>


</body>


</html>
