<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8"/>
        <style>
            h1 {
                text-align: center;
                background-color: mediumaquamarine; 
            }

            body {
                background-color: pink;
            }

            h2 {
                background-color: palevioletred;
            }

            .center {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
            }
        </style>
    </head>

    <body class="bodyFont">
        <h1>Mariela Gamboa</h1>
        <a href= "mailto:marielagamboa@lewisu.edu">Email</a>
        <br><img src = "/img/IMG_8862.jpg" alt="Representative Photo" width="160" height="200" class="center">
        <h2>Introduction</h2>
        <p>This is my last semester at Lewis University. I like listening to music, shopping, and traveling. I have 2 sisters and 1 brother. My major is Computer Science. I chose Computer Science because it seemed interesting to me. </p>
        <h2>What I Hope to Learn in this Course</h2>
        <ul style="list-style-type:square">
            <li>JavaScript</li>
            <li>Node.js</li>
            <li>Software Architecture</li>
        </ul>
        <h2>My Favorite Hobby</h2>
        <p>I like traveling and exploring new places. I haven't gone to too much places. I have gone to Mexico, Wisconsin and Indiana. My favorite place was Mexico because I tried new things. I want to go to a lot more places in the future. </p>
        <h2>Greatest Innovation</h2>
        <ul style="list-style-type:square">
            <li><a href="https://digital-strategy.ec.europa.eu/en/news/internet-innovation-shaping-future">Internet</a></li>
            <li><a href="https://www.smithsonianmag.com/innovation/computers-changed-world-180969987/">Computers</a></li>
            <li><a href="https://link.springer.com/chapter/10.1007/0-387-32500-X_4">Microprocessors</a></li>
        </ul>
        <h2>Fun Fact</h2>
        <p>I speak English and Spanish.</p>
    </body>
</html>