<!DOCTYPE html>
<html lang="en">
<head>
   <title>Paula Grata</title>
   <style>
     body {
        background-color: rgb(178, 178, 211);
      }
      .center {
         text-align: center;
      }
      .img-container {
        text-align: center;
      }
      a {
         color: rgb(59, 34, 100);
      }
      div {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 150px;
        margin-left: 80px;
      }
      h1, h3, h4, ul, p, a{
         margin: 0;
         font-family: arial;
      }
      p, a, ul{
      font-size: 14px;
      }
  </style>
</head>
<body>
<div class="center">
   <h1>Paula Grata</h1>
   <b><a href="paulargrata@lewisu.edu">paulargrata@lewisu.edu</a></b>
   <br><br>
   <img alt="Paula's image" src="/img/image-paula.jpg" width="300" height="300" title="picture">
   <br><br>
</div>
<div>
   <h3><u>Introduction</u></h3>
   <p>
        I am a senior, with a major in computer science. 
        I love computers and technology, this degree fascinates and 
        intrigues me to keep wanting to learn more about it. I enjoy 
        coding and want to continue to improve that skill. In this course,
        I wish to be able to understand web and distributed programming and 
        how to develop useful applications using a variety of distributed data and programming models 
        I spend a lot of my free time with my family and I have an older brother,
        a dog named Francis, and a cat named Kitten. 
    </p> 
   <br>
   <h4><u>What I Hope to Learn in this Course</u></h4>
   <ul style="list-style-type:square;">
    <li>To understand web and distributed programming</li>
    <li>How to develop useful applications using a variety of distributed data and programming models</li>
    <li>To use distributed systems to solve computational problems</li>
   </ul> 
   <br>
   <h4><u>My Favorite Hobby</u></h4>
   <p>
        My hobbies include spending a lot of time on the computer,
        either playing video games, searching the web, or just chatting with
        my friends. I enjoy reading and researching to learn new information. 
        I enjoy spending any free time I have outdoors.
    </p>
   <br>
   <h4><u>Greatest Innovation</u></h4>
   <ul style="list-style-type:square;">
    <li><b><a href="https://en.wikipedia.org/wiki/Internet">Internet</a></b></li>
    <li><b><a href="https://en.wikipedia.org/wiki/Personal_computer">Personal Computer</a></b></li>
    <li><b><a href="https://en.wikipedia.org/wiki/Email">Email</a></b></li>
   </ul>
   <br>
   <h4><u>Fun Fact</u></h4>
   <p>
        I was always fascinated on how a computer worked internally
        and externally. As I have always loved playing video games, one day
        I decided I would learn how to build my own computer. I thought it
        would be interesting to learn how each component worked together inside the computer,
        so I learned first-hand on how it works. 
   </p>
</div>   
</body>
</html>
