<!DOCTYPE html>
    <html>
    <head>
        <center><h2>STEVEN NGUYEN</h2></center></head></p>
    </head>
<body>
    <center>
    <a href = "mailto: stevenpnguyen@lewisu.edu">Send Email</a>

<h2>About Me</h2>
    <td height="200px">
    <td width="200px">
        <img src="steve.JPG"></img>
</center>

<center>

    <h2 style = "background-color: Tomato;">Introduction</h2>
<p>My name is Steven. Some can call me Steve Jobs due to how many Apple products I own. I am a Computer Science
major at Lewis University with a concentration with cyber security. This one of my last semesters here at Lewis as I am intending on graduating this Spring 2022 with my bachelor's degree. I was born at Hazel Crest and reside in Sotuh Chicago Heights, IL. My work experience is
mostly being a nail technician at my parents salon. I also build computers with my brother as a side job along with repairing devices such as smartphones. With my major, I am hoping to improve upon my skills to better suit cybersecurity.
I have one sibling who graduated from Lewis University in December 2019. My brother also majored in computer science with a concentration with web development and
was the center contribution to my decision to persue computer science. I live with my parents and three brothers and sisters.
</p>
<h2 style = "background-color:aqua;">What I Hope To Learn In This Course:</h2>

<p>What I hope to learn in the course is the following:
    </p>

    <p>
        - Continuing to learn and get confortable with working with development teams on projects built on Object Oriented Programming.
       </p>

    <p>
        - Implementing coding strategies to be able to produce secure code and diagnose issues early within development.
       </p>

    <p>
        - Learn more about the enviroments of Node.js including other enviroments.
        </p>
    <p>

</center>

</body>
</html>